@import '../../variables.scss';

.content {
    display: flex;
    width: 100%;
    flex-direction: column;

    padding: 3rem;
    position: relative;
    background-color: $navy;

    @media screen and (min-width: 1000px) {
        width: 85%;
        height: 90%;
        min-height: 90%;
        align-self: flex-start;
    }
}
