@import '../../variables.scss';

.bill {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: $navy;

    &__form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @media screen and (min-width: 800px) {
            width: 60%;
        }
        & > form {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding: 1rem 2rem;
            @media screen and (min-width: 800px) {
                width: 80%;
            }
            & > input {
                display: none;
            }
            & > label {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border: 1px solid peru;
                border-radius: 3px;
                margin-top: 1rem;
                padding: 3px 1rem;
                & > span {
                    margin-left: auto;
                    display: block;
                    border-radius: 50px;
                    border: 2px solid tomato;
                    font-size: 1.2rem;
                    padding: 3px 10px;
                    background-color: indigo;
                    &:hover {
                        color: ivory;
                    }
                }
            }
            & > button {
                margin-top: 1rem;
                width: 100%;
                display: block;
                padding: 5px;
                background-color: green;
                font-size: 1.3rem;
                letter-spacing: 3px;
                border-radius: 5px;
                color: honeydew;
            }
        }
        &__preview {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 20rem;
            max-height: 15rem;
            min-width: 20rem;
            min-height: 15rem;
            border-radius: 5px;
            border: 3px dashed peru;
            overflow: hidden;
            & > img {
                max-width: 20rem;
                max-height: 15rem;
                min-width: 20rem;
                min-height: 15rem;
            }
        }
    }
    &__display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        border: 1px solid gray;
        padding: 2rem;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 800px) {
            flex-direction: row;
        }

        & > h3 {
            @media screen and (min-width: 800px) {
                align-self: flex-start;
                margin: 1rem;
            }
        }
        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 20rem;
            max-height: 15rem;
            min-width: 20rem;
            min-height: 15rem;

            & > img {
                display: inline-block;
                max-width: 20rem;
                max-height: 15rem;
                min-width: 20rem;
                min-height: 15rem;
                margin: 2rem;
                overflow: hidden;
            }
        }
    }
}
