@import '../../variables.scss';

.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $navy;
    @media screen and (min-width: 1000px) {
        flex-direction: row;
        justify-content: center;
    }
    &__aside {
        display: none;
        @media screen and(min-width:1000px) {
            display: flex;
            width: 40%;
            height: 80%;
            background-size: cover;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            span {
                background-color: #08003cbb;
                opacity: 0;
                animation-name: moveup;
                animation-duration: 2s;
                animation-iteration-count: 1;
                animation-delay: 3s;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                margin: 1rem;
                font-size: 1.5rem;
            }
            & > span:nth-child(1) {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 700;
                margin: 2rem;
                font-size: 3rem;
                padding: 1rem;
                opacity: 0;
                animation-delay: 2s;
            }
        }
    }
    img {
        width: 250px;
        height: 150px;
        display: inline-block;
    }
    header {
        background-size: cover;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        h2 {
            color: white;
        }
        @media screen and (min-width: 1000px) {
            display: none;
        }
    }
    a {
        color: peru;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        padding: 1rem;
        align-self: start;
        border-bottom: 1px solid peru;
        margin-left: 1rem;
    }
    form {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transform: translateY(20px);
        animation: backup 1s 1s ease forwards 1;
        @media screen and (min-width: 1000px) {
            width: 40%;
            height: 80%;
        }
        input {
            width: 80%;
            height: 3rem;
            border: none;
            border-radius: 7px;
            margin-top: 1rem;
            padding: 5px 20px;
            @media screen and (min-width: 480px) and (max-width: 600px) {
                width: 70%;
            }
            @media screen and (min-width: 600px) and (max-width: 800px) {
                width: 60%;
            }
            @media screen and (min-width: 800px) and (max-width: 1000px) {
                width: 40%;
            }
        }

        label {
            margin-top: 1rem;
            @media screen and (min-width: 100px) {
                align-self: flex-start;
                margin-left: 2rem;
            }
        }

        button {
            width: 7rem;
            height: 3rem;
            border-radius: 25px;
            background-color: peru;
            margin: 2rem;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            font-size: 1.2rem;
            color: $navy;
            &:hover {
                background-color: $dark-bg;
                color: $onblue;
            }
        }
        small {
            color: red;
        }
        p {
            font-size: 1.2rem;
            align-self: flex-end;
            margin-right: 4rem;
            span {
                border-bottom: 1px solid peru;
                padding-bottom: 2px;
                cursor: pointer;
            }
        }
    }
}

@keyframes moveup {
    to {
        transform: translateY(-20px);
        opacity: 1;
    }
}
@keyframes backup {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
